<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Citizen First</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
  <div class="auth-box">
    <h2>Register</h2>
    <form method="POST">
      {% csrf_token %}
      <input name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Strong Password" required>
      <button type="submit">Register</button>
    </form>
    {% for m in messages %}
    <p class="message">{{ m }}</p>
    {% endfor %}
    <p>Already have an account? <a href="/accounts/login/">Login</a></p>
  </div>
</body>

</html>